{% extends "layout.html" %} {% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="text-center">Welcome, fellow movie enthusiast!</h1>
      <p class="text-center">
        Here, we celebrate the magic of cinema and the joy of sharing our
        favorite films. Whether you're a fan of heartwarming dramas,
        action-packed thrillers, or side-splitting comedies, this is the perfect
        place to explore and discover new cinematic gems. Feel free to add your
        favorite movie to our ever-growing collection and engage in lively
        discussions about the best films to watch. Let's embark on a cinematic
        journey together, where we share ideas, recommend hidden gems, and bond
        over our love for the captivating world of movies. Happy movie watching!
        🎬🍿
      </p>
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-md-6 d-flex justify-content-center align-items-center">
      <img
        src="https://cdn.pixabay.com/photo/2015/12/09/17/12/popcorn-1085072_1280.jpg"
        alt="Popcorn"
        class="img-fluid rounded"
        style="max-width: 300px"
      />
    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="col-md-6 text-center">
      <h3>Click below to explore our movie collection:</h3>
      <a href="/movies" class="btn btn-primary btn-lg mt-3">View All Movies</a>
    </div>
  </div>
</div>
{% endblock %}
